<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <title><%= @title %></title>
</head>
<body>
  <header>
   <h1><a href="/" class="title">MemoApp</a></h1>
  </header>
  <%= yield %>
  <footer>
    <div class="author">
      @lime1024
    </div>
  </footer>
</body>
</html>