<div class=post-item>
  <form action="/new" method="POST">
    <ul>
      <li class="new_post-form-title">
       <input type="text" name="newposttitle" value="" placeholder="title" class="new_post-form-title-input">
      </li>
      <li class="new_post-form-post">
        <textarea name="newpost" value="" placeholder="text" class="new_post-form-post-input"></textarea>
      </li>
      <li class="new_post-form-submit">
        <input type="submit" value="Post" class="new_post-form-submit-input">
      </li>
    </ul>
  </form>
</div>