<div class=post-item>
<ul>
  <li class="show_post-title">
    <%= @post["newposttitle"] %>
  </li>
  <li class="show_post">
    <%= @post["newpost"] %>
  </li>
  <li class="show_post-submit">
    <a href="<%= "/#{@post["postnumber"]}/edit" %>" class="show_post-submit-link">Edit</a>
  </li>
  <li class="show_post-delete">
    <form action="<%= "/#{@post["postnumber"]}" %>" method="POST">
      <input type="submit" value="Delete" name="delete" class="show_post-delete-input">
      <input type="hidden" name="_method" value="delete">
    </form>
  </li>
</div>